.HomePage {
    .ToCenter {
        // padding-left: 10%;
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        .SinglePostContainer {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 55px;
            width: 90%;
            padding-left: 5%;
            padding-bottom: 5%;
            margin-top: 3%;
        }
    }
}